
@{
    ViewBag.Title = "Index";
}

<h2></h2>
<hr />
<hr />
<table id="VaksinTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID Vaksin</th>
            <th>No Regis Vaksin</th>
            <th>Status</th>
            <th>ID Produsen</th>
            <th></th>
        </tr>
    </thead>
</table>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable =  $("#VaksinTable").DataTable({
                "ajax": {
                    "url": "/VaksinList/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data":"IdVaksin"},
                    { "data": "NoRegisVaksin" },
                    { "data": "Status" },
                    { "data": "IdProdusen" }


                ],
                "language": {

                    "VaksinTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });


    </script>
}



